{
    email {$ADMIN_EMAIL}
}

{$DOMAIN_NAME} {
    tls {$ADMIN_EMAIL}

    handle_path /manual* {
        root * /data/docs
        file_server
    }

    reverse_proxy api-report:8080

    # Security headers
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
    }
}
